.container {
  text-align: center;
  color: white;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.content {
  margin: 20px 0;
}

.button {
  /* padding: 10px 20px; */
  font-size: 16px;
  background-color: #2fe7bb;
  color: #000;
  border: none;
  border-radius: 25px;
  width: 200px;
  cursor: pointer;

  display: flex;
  height: 56px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
  height: 56px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

Link {
  text-decoration: none;
}

.button:hover {
  background-color: #0056b3;
  color: white;
}