  /* CSS Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
.shell {
    margin: 0;
    padding: 0;
    opacity: 0.75;
    background: linear-gradient(117deg, #000000 2.05%, #0b442d 95.91%);
    height: 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.shell-header {
    max-height: 100px;
    position: fixed;
    width: 100%;
}

.shell-navigator {
    position: relative;
    top: 70px;
    padding: 5px;
}

.shell-content {
    position: relative;
    top: 100px;
    min-height: 100px;
    padding: 5px;
}

.shell-footer {
    position: relative;
    top: 130px;
}

body {
    margin: 0;
}

.icons {
    position: relative;
    top: 2px;
}

